doctype html
html(lang="eng")
    head
        title Akcec-m
        meta(charset="UTF-8")
        include components/links
    body(ng-app="myapp" ng-controller="myCtrl as my")
        header
            //include some modules into the header
            include components/header
        main
            //include some modules into the header
            //include components/main

            ng-view
        footer
            //include some modules into the header

            include components/footer
        script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
        script( src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
        script( src='../js/main.js')






